// Mixins
@mixin square($size) {
  width: $size;
  height: $size;
}

// CSS Resets
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  background: #333;
}

// Custom Styles
.grid-wrapper {
  min-width: 100%;
  min-height: 100vh;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(20, 30px);
  grid-template-rows: repeat(20, 30px);
}

.box {
  scale: 0.4;
  @include square(100%);
  background: white;
  cursor: pointer;
}
